<div  class="container mt-5">
    <h1 *ngIf="ListaP.length == 0" class="text-danger">No hay registros</h1>
    <h1 *ngIf="ListaP.length != 0" >Registro de Productos</h1>
    <table class="table" *ngIf="ListaP.length != 0" >
        <thead class="table-dark ">
            <th scope="col">Nombre del producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Disponibilidad</th>
            <th scope="col">Fecha Expiracion</th>
        </thead>
        <tbody>
             <tr *ngFor="let producto of ListaP ">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.disponibilidad}}</td>
                    <td>{{producto.fechaExpiracion}}</td>
            </tr> 
        </tbody>
    </table>
</div>